:root {
  --dark-color: #19283f;
  --green-color: #33d1cc;
  --btn-color: #ff3150;
  --btn-text-color: #ffc400;
  --section-color: #eff7fa;
  --our-work-color: #eff7fa;
}
body {
  font-family: "Roboto", sans-serif;
  height: 10000px;
}

.navbar {
  background-color: var(--dark-color);
}
.navbar .navbar-nav .nav-link {
  color: #ffff;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--green-color);
}

.search {
  color: var(--green-color);
}

.main-btn {
  background-color: var(--btn-color);
  color: var(--btn-text-color);
  border: none;
}
.main-btn:hover {
  color: white;
}
.landing {
  min-height: calc(100vh - 70px);
  background-color: var(--dark-color);
  align-items: center;
  display: flex;
  justify-content: center;
}
.main-title::after {
  content: " ";
  width: 120px;
  height: 2px;
  background-color: var(--green-color);
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}
.features .icon-holder {
  height: 200;
}
.features .icon-holder .icon {
  color: #33d1cc;
}
.number {
  font-size: 12rem;
  color: var(--section-color);
}

.features .icon-holder svg {
  left: 50%;
  transform: translateX(-50%);
}
.features p {
  color: rgba(0, 0, 0, 0.5);
}
.features h4 {
  color: var(--btn-text-color);
}
.our-work {
  background-color: var(--section-color);
}
.our-work ul .active {
  background-color: var(--btn-color);
  color: var(--btn-text-color);
}
.our-work ul li:not(.active):hover {
  color: var(--btn-color);
}
.our-work ul li {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.our-work .box {
  padding: 5px;
  overflow: hidden;
  position: relative;
}
.our-work .box::before {
  content: attr(work-name);
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  background-color: rgba(51, 209, 204, 0.76);
  height: calc(100% - 10px);
  width: calc(100% - 10px);
  transition: 0.3s;
  color: white;
  font-weight: bold;
  font-size: 1.6rem;
  transform: translateX(calc(-100% - 5px));
}
.our-work .box:hover::before {
  transform: translateX(0);
}
.our-work .section-btn:hover {
  color: var(--btn-color);
}
.desription {
  max-width: 500px;
}
/* .our-work .box["work-name"] */
.our-team {
  background-color: var(--section-color);
}
.our-team h4 {
  color: white;
  padding: 1rem 0.5;
  background-color: var(--green-color);
}
.our-team .box {
  background-color: white;
}
.our-team h1 {
  color: var(--btn-text-color);
}
.project {
  color: white;
  background-color: var(--dark-color);
}
